/* preto #10100F*/


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Outfit", sans-serif;
    
}
body{
    background-color: #FCF5EE;
    
}
hr{

    margin: 10px auto; 
    width: 85%;
   
}
#liquidacao{
    margin: 10px auto;
    width: 85%;
    display: flex;
    justify-content: center;
    
}
#header{

 display: flex;
 justify-content: space-between;
 align-items: center;
 font-weight: 500;

 margin: 0 auto;
 width: 85%;
 position: relative;
 
 
}
#logo{
   
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 15rem;
   
    font-size: 18px;
    font-weight: 900;
}
#logo-div{
   
    display: flex;
    align-items: center;
    width: auto;
    justify-content: center;
    gap: 25px;
}
#cadastrar-produto{
    border: 1px solid #10100F;
    padding: 12px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;


    visibility: hidden;
    

}

#cadastrar-produto.active{
    visibility: visible;
}
#header a{
    color: #10100F;
}
#search-form{
  
    display: flex;
    justify-content: center;
    margin-bottom:50px ;
    
 
}

button{
    margin: 0;
}
#barra-pesquisa{
    width: 15rem;
    padding: 8px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #10100F;
}
#navbar{
 
    display: flex;
    align-items: center;
    width: auto;
    justify-content: center;
    gap: 25px;
   

}
#search-button{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #10100F;
    cursor: pointer;
}
.circle-icon{
    border: 1px solid #10100F;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    margin-top: 4px;
}






#inicio{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-register{
    position: absolute;
    top: 6%;
    right: 64%;
    height: 500px;
    width: 600px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
    animation: animate 0.5s;
    z-index: 1000;

}
.active {
  
    visibility: visible;
}
.login-register h1, .login h1 , .cadastro-produto-form h1{
    top: 0;
    position: absolute;
    
    padding: 20px;
    border-bottom:2px solid #10100F;
    
    text-transform: uppercase;
    width: 100%;
}
.login-register form{
    margin-top:50px;
    height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
   
    padding: 10px;
}
 .login form{
    margin-top:50px;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
   
    padding: 10px;
}
.login-register form input, .login form input, .cadastro-produto-form input{
    padding: 12px;
    width: 400px;
    margin-bottom: 10px;
    font-size: 15px;

}
.login-register form button, .login form button , .cadastro-produto-form button{
    padding: 12px;
    text-transform: uppercase;
    width: 100%;
    cursor: pointer;
    background-color: #10100F;
    color: white;
    border: 2px solid #10100F;
    margin-top: 15px;
    
}
.login-register p, .login p {
    opacity: 0.8;
}

.janela-carrinho.active{
    visibility: visible;
}
.login{
    position: absolute;
    top:-20px;
   
    height: 500px;
    width: 600px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
    animation: animate 0.5s;
    z-index: 1000;

}

.login.active{
    visibility: visible;
}

.janela-carrinho{
    position: absolute;
    
    height: 300px;
    width: 500px;
    top: 29%;
    left: 29%;
    margin: 0 auto;
    z-index: 999;
    position: fixed;
    margin-bottom: 150px;

    background-color: whitesmoke;
    animation: animate 0.5s;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
@keyframes animate{
    0%{
        transform: scale(0.9);
       
    }
    100%{
        transform: scale(1);
     
    }

}
.cadastro-produto-form{
    top: 18%;
    position: fixed;
    height: 450px;
    width: 500px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
    animation: animate 0.5s;
    z-index: 1000;

}
.cadastro-produto-form.active{
    visibility: visible;
}


.cadastro-produto-form ul{
    list-style: none;
    text-align: center;
}

#img-container{
    bottom: 20%;
    display: none;
    height: 60px;
    width: auto;
    max-width: 150px;
    position: absolute;
    background-size: cover;
    border: 1px solid black;
    z-index: 1;
 
}


.cadastro-produto-form ul li a{
    background-color: #F5F5F5;
    display: block;
    padding: 5px;
    width: 164px;
    border: 1px solid #F5F5F5;
    text-decoration: none;
    text-align: start;
    color: #10100F;
}
ul.dropdown li{
    display: block;
 
}
ul.dropdown{
 width:170px;
 display: none;

}
.cadastro-produto-form ul li a:hover{
 background-color: white;
}
#category:hover ul.dropdown{
    display: block;
    cursor: pointer;
   
}
#category{
 position: absolute;
 top: 58%;
 background-color: #F5F5F5;
 padding: 6px;
 width: 176px;
 z-index: 12;
}
.category{
    display: flex;
    justify-content: space-between;
    
}

.images{
    padding: 5px;
     align-self: flex-end;
     background-color: #F5F5F5;
     cursor: pointer;
}
#imagem{
   visibility: hidden;
   
}












.cadastro-produto-form form{
    
    margin-top:50px;
    height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
   
    padding: 10px;
}


.sombra{
    
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: absolute;
    height: 200vh;
    width: 200vw;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    position: fixed;
}
.janela-carrinho .title {
    top: 0;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px;
    border-bottom:2px solid #10100F;
    font-size: 20px;
    text-transform: uppercase;
   
}
.no-item{
    display: block;
}
.no-item.active{
    display: none;
}

.janela-carrinho .fechar, .login-register span, .login span, .cadastro-produto-form span{
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: 25px;
    cursor: pointer;
}
.carrinho-container{

    width: 96%;
    height: 230px;
    position: absolute;
    bottom: 0;
    
}
.carrinho-container button{
    bottom: 10px;
    right: 20px;
    position: absolute;
    background-color: #FFD814;
    padding:10px;
    font-size: 15px;
    color: #10100F;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;
    border: 2px solid #FFD814;
    transition: 0.2s;
    visibility: hidden;
    
}
.carrinho-container button.active{
    visibility: visible;
}
.carrinho-container button:hover{
    background-color: transparent;
}
.itens-carrinho{
    
    width: 100%;
    overflow: hidden;
    gap: 5px;
    height: 175px;
    overflow-y: scroll;
  
    visibility: hidden;
}
.itens-carrinho.active{
    visibility: visible;
}
.item-carrinho{
  
    margin-bottom: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    border-radius: 5px;
 
    height: 80px;
    width: 100%;
    flex-direction: column;
 
    overflow: hidden;
}
.item-carrinho input{
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
}
.item-carrinho span{
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;

}
.item-carrinho h2,.item-carrinho p{
    margin-left: 70px;
}
.titulo{
    font-size: 15px;
    max-width: 380px;
}
.item-carrinho img{
    height: 80px;
    max-width: 60px;
    position:absolute;
    left: 0;
}

/*slider*/
.apresentacao-inicio{ 
    height: 30rem;
    width: 85%;
    margin: 0 auto;
    position: relative; 
    margin-inline: auto;
    overflow: hidden;
 
   
    
    
 


    
}

/*slides*/
.slides{
    width: 300%;
    height: 31rem;
    display: flex;
 
   
    
    
}
.slides input{
  display: none;
 }
.apresentacao-conteiner {
    height: 30rem;
    width: 33.33%;
    display: flex;
    justify-content: space-between;
    background-color: #FCF5EE;
    position: relative;
    transition: 1s ease;
    

    
}
.manual-navigation{
    position: absolute;
    width: 100%;
    
    display: flex;
    justify-content: center;
    gap: 10px;
    bottom: 0;
    
}

.manual-btn{
    border: 2px solid black;
    height: 20px;
    width: 20px;
    cursor: pointer;
    opacity: 0.5;
    border-radius: 10px;
    transition: 0.5s;
   
   
}
.navigation-auto{
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.manual-btn:hover{
    background-color: #10100F;
}

#item1:checked ~ .first{
    margin-left: 0;
}
#item2:checked ~ .first{
    margin-left: -33.33%;
}
#item3:checked ~ .first{
    margin-left: -66.66%;
}
.navigation-auto div{
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    height: 20px;
    width: 20px;
}


#item1:checked ~ .navigation-auto .auto-btn1{
background-color: #10100F;
}
#item2:checked ~ .navigation-auto .auto-btn2{
background-color: #10100F;
}
#item3:checked ~ .navigation-auto .auto-btn3{
background-color: #10100F;
}

.div1,.div2{
    height: 30rem;
    width: 49%;
   
   
  
}
.div2 img{
    height: 29rem;
    top: 0;
    margin-left: 50px;
}
.div1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.div1 button{
    padding: 20px;
    background-color: #10100F;
    color: white;
    border: none;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s;
    border: 1px solid #10100F;
    
  
}
.div1 button:hover{
    background-color: transparent;
    border: 1px solid #10100F;
    color: #10100F;
}

.div1 h2{
    font-size: 60px;
    margin-right: 20px;
}
.div1 p{
    font-size: 18px;
    
   
}
.descricao{
    font-size: 18px;
    text-align: justify;
    margin-right: 20px;
}




#categorias{
    height: 60vh;
   
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    position: relative;
}

#chose-category{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#chose-category .title{
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
     
    gap: 10px;
    margin-bottom: 30px;
    

}
#chose-category .title h1{
    font-size: 50px;
}
#chose-category .title p{
    font-size: 18px;
    opacity: 0.8;
}




#category-types{
  
    
    height:215px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    width: 50vw;
    position: relative;

   
}

#category-types span{
   
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.4s ease;
    background-color: #F5F5F5;
    gap: 10px;

}
.todos{
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    width: 50vw!important;
    height: 50px !important ;
   }
#category-types span:hover{
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.15);

}




#products{
    height:auto;
    
    
    width: 100%;
    background-color: white;
    display: flex;
   
    flex-direction: column;
    align-items: center;
}
#products .title {
    font-size: 50px;
     margin: 50px;
 
    text-align: center;
    height: 75px;
  }
.products-section{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    margin-bottom: 100px;
    width: 96vw;
    height: auto;
    
   
    gap: 10px;
   

}

.product{
    height: 480px;
    width: 240px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    margin-bottom: 5px;
    border: 5px solid #F5F5F5;
  
    
}

.imagem-container{
    background-color: white;
    width: 100%;
    height:280px ;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.product img{
    width: 70%; 
    height: auto;
    object-fit: cover; 
}

.info-product{
    position: absolute;
    background-color: #F5F5F5;
    height: 200px;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
   
}
.info-product .titulo{
    margin: 5px;
    color: #10100F;
    font-size: 16px;
 
}
.info-product .preco, .info-product p{
    color: #10100F;
    margin: 5px;
    font-size: 16px;

}
.info-product button{
    transition: 0.2s;
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    background-color: #FFD814;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #FFD814;
    

}
.info-product button:hover{
    background-color: transparent;
}
.info-product img{
    object-fit: cover;
    margin-top: 5px;
   
}

.stars{
    text-align:start;
   
   
}

.stars {
    color: #FFD814;
    font-size: 18.5px;
   
}
.starGray{
    color: gray;
    opacity: 0.5;
}
.nota{
    color: #10100F;
    margin-left: 15px;
    font-size: 16px;
}

aside{
    border: 1px solid black;
    width: 200px;
    height: 500vh;
    background-color: gray;
}










#footer{
   
    height: 90vh;
    background-color: #F5F5F5;
    display: flex;

    align-items: center;
    justify-content: space-around;
    position: relative;
}

.colums{
    width: 220px;
    height: 30%;
    display: flex;

    

    align-items: flex-start;
    flex-direction: column;
    gap: 12px;
    text-decoration: none;
}
.colums .email{
    display: flex;
}
.colums button{
    width: 40px;
    background-color: #10100F;
     border: none;
    transition: 0.2s;
    cursor: pointer;
}
.colums button img{
    height: 30px;
}
.totalCarrinho{
    position: absolute;
    bottom:15px;
    font-size: 20px
    
}
.colums .logo{
    display: flex;
    font-size: 20px;
    font-weight: bolder;
}
.colums input{
    padding: 8px;
    width: 170px;
}
.colums p{
    opacity: 0.8;
    cursor: pointer;
    transition:0.2s ease-in-out;
    
}
.colums p:hover{
    animation: rightMove 0.2s  forwards;
}

.colums-side{
    width: 220px;
  
}
.colums-side p{
    animation: none !important;
}
@keyframes rightMove{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(5px);
    }
}
.social-media{
    cursor: pointer;
}
.direitos{
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   

}
.direitos p{

   width: 100%;
}

/*=====================================================================================================
Responsividade*/
/*1250px categorias*/


@media screen and (max-width: 1250px){
    #category-types span{
        height: 130px;
        width: 130px;
        font-size: 14px;
        gap: 0;
    }
    .todos{
        position:static;
        margin: 0;
        width: 130px !important;
        height: 130px !important;
       }
       #category-types{
       width: auto;  
       margin: 0 50px; 
       height: auto;
       gap: 10px;
    }
    .box1 img{
        height: 9rem;
   
    
    }
}

@media screen and (max-width: 1150px){
    .apresentacao-inicio h2{
        font-size: 50px;
    }
    .apresentacao-inicio p{
        font-size: 15px;
    }
    .div2 img{
        height: 25rem;
     
    }
    .div1{
        gap: 10px;
    }

 
}

@media screen and (max-width: 950px){
 


    .div2 img{
        height: 18rem;
        margin: 0;
        
     
    }
    .div2{
        background-size: cover;
        display: flex;
        align-items: center;
    }
    #categorias{
        height: 140vh;
        }
      
}
@media screen and (max-width: 550px){
  #chose-category .title h1{
    font-size: 25px;
  }
  #chose-category .title p{
    font-size: 12px;
  }
  #navbar{ 
    position: absolute;
    right: 0;
}
}
@media screen and (max-width: 750px){
    #footer{
 
        flex-wrap: wrap;
   
    }
    
    
    .colums{
    
        height: 30%;
        width: 220px;
        margin-bottom: 50px;
        max-height: 270px;
      
}


.apresentacao-conteiner  p{
    display: none;

}
.apresentacao-conteiner h2{
    font-size:37px;
}
.apresentacao-conteiner .div1{
    position: relative;
    width: 100%;
    gap:300px;
    
}


.apresentacao-conteiner .div2{
    position: absolute;
    width: 100%;
}
.div2 img{
    height: 16rem;
    
    margin: 0 auto;
}
.apresentacao-conteiner button{
    transform: scale(0.8);
   
}

}
.manual-btn{
   display: none;
   
   
}
.navigation-auto{
  display: none;
}




@media screen and (max-width: 452px){
    #footer{
        height: 180vh;
    }
    .direitos img{
        display: none;
    }
    .direitos p{
        font-size: 15px;
    }
    #liquidacao{
        font-size: 12px;
    }
    
}
@media screen and (max-width: 400px){
#category-types{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
}
@media screen and (max-width: 360px){
    .apresentacao-conteiner h2{
        font-size:30px;
    }
    
}